<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/olive.css?cachebust=1.2.0" type="text/css">


<title>Homepage Hero | Greenhill Pattern Library v1.0</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Greenhill Pattern Library v1.0</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-3a8d6611d97cefc2783318536a8cf037">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/homepage-hero.html" title="Component preview">
            Homepage Hero
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-3a8d6611d97cefc2783318536a8cf037">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/homepage-hero.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-3a8d6611d97cefc2783318536a8cf037">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-3a8d6611d97cefc2783318536a8cf037-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-3a8d6611d97cefc2783318536a8cf037-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-3a8d6611d97cefc2783318536a8cf037-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-3a8d6611d97cefc2783318536a8cf037-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-3a8d6611d97cefc2783318536a8cf037-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-3a8d6611d97cefc2783318536a8cf037-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-comment">&lt;!-- put this in the &lt;head&gt; on this page only --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
    @<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">37.5em</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w769.jpg);
        }
        <span class="hljs-comment">/* 769px wide image (covers up to next breakpoint) with a 16:9 aspect ratio */</span>
    }

    @<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">37.5em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w1538.jpg);
        }
        <span class="hljs-comment">/* 1538 wide, 16:9; */</span>
    }

    @<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">48em</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w960.jpg);
        }
        <span class="hljs-comment">/* 960px wide image (covers up to next breakpoint) with a 16:9 aspect ratio */</span>
    }

    @<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">48em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">48em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">48em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">48em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w1920.jpg);
        }
        <span class="hljs-comment">/* 1920 wide, 16:9; */</span>
    }

    @<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">60em</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagewide-w1100.jpg);
        }
        <span class="hljs-comment">/* 1100px wide image with a 16:9 aspect ratio */</span>
    }

    @<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">60em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">60em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">60em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>),
    only screen and (min-width: <span class="hljs-number">60em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
        <span class="hljs-selector-class">.banner-hero</span> {
            <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagewide-w2200.jpg);
        }
        <span class="hljs-comment">/* 2200 wide, 16:9; */</span>
    }
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>
<span class="hljs-comment">&lt;!-- end of stuff to go in the &lt;head&gt; --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">article</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"banner banner-hero"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"wrapping-anchor"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/portfolio/case-studies/weref-app"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">srcset</span>=<span class="hljs-string">"https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w320.jpg 320w,
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w480.jpg 480w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w640.jpg 640w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w752.jpg 752w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w960.jpg 960w"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"100vw"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow.jpg"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"A player heading the ball in a football match"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hero-detail"</span>&gt;</span>
    	<span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Portfolio Feature<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>we.ref<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>FIFA-approved game management technology for football referees, ushering in a new era for The Beautiful Game.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-more"</span>&gt;</span>Read story<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">article</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-3a8d6611d97cefc2783318536a8cf037-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-comment">&lt;!-- put this in the &lt;head&gt; on this page only --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
@<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">37.5em</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w769.jpg); } <span class="hljs-comment">/* 769px wide image (covers up to next breakpoint) with a 16:9 aspect ratio */</span>  
}
@<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">37.5em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">37.5em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w1538.jpg); } <span class="hljs-comment">/* 1538 wide, 16:9; */</span> 
}

@<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">48em</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w960.jpg); } <span class="hljs-comment">/* 960px wide image (covers up to next breakpoint) with a 16:9 aspect ratio */</span>  
}
@<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">48em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">48em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">48em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">48em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagemedium-1-w1920.jpg); } <span class="hljs-comment">/* 1920 wide, 16:9; */</span> 
}

@<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">60em</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagewide-w1100.jpg); } <span class="hljs-comment">/* 1100px wide image with a 16:9 aspect ratio */</span>  
}
@<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-number">60em</span>) and (-webkit-min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">60em</span>) and (min--moz-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">60em</span>) and (min-device-pixel-ratio: <span class="hljs-number">1.5</span>), only screen and (min-width: <span class="hljs-number">60em</span>) and (min-resolution: <span class="hljs-number">1.5dppx</span>) {
	<span class="hljs-selector-class">.banner-hero</span> { <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(https://www.greenhilldigital.com/console/resources/werefhomepageheroimagewide-w2200.jpg); } <span class="hljs-comment">/* 2200 wide, 16:9; */</span> 
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>
<span class="hljs-comment">&lt;!-- end of stuff to go in the &lt;head&gt; --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">article</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"banner banner-hero"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"wrapping-anchor"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/portfolio/case-studies/weref-app"</span>&gt;</span>
	<span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">srcset</span>=<span class="hljs-string">"https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w320.jpg 320w,
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w480.jpg 480w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w640.jpg 640w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w752.jpg 752w, 
	            https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow-w960.jpg 960w"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"100vw"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://www.greenhilldigital.com/console/resources/werefhomepageheroimagenarrow.jpg"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"A player heading the ball in a football match"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hero-detail"</span>&gt;</span>
    	<span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Portfolio Feature<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>we.ref<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>FIFA-approved game management technology for football referees, ushering in a new era for The Beautiful Game.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-more"</span>&gt;</span>Read story<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
	<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">article</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-3a8d6611d97cefc2783318536a8cf037-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre><span class="hljs-comment">/* No context defined for this component. */</span></pre>
            
        
    </code>
</div>

    
    




    
    <div class="Browser-panel" data-role="tab-panel" id="browser-3a8d6611d97cefc2783318536a8cf037-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@homepage-hero</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/homepage-hero.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/homepage-hero.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/fractal/components/homepage-hero/homepage-hero.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-3a8d6611d97cefc2783318536a8cf037-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>We haven’t used the <code>&lt;picture&gt;</code>–based approach here (which we use on <a href="/components/detail/banner">banners</a>) even though this meets <a href="https://usecases.responsiveimages.org/#art-direction">“the art direction use case”</a>. Instead, since not only the image but the banner text layout changes at wider screen resolutions, we’re using a hybrid approach employing i) a responsive <code>&lt;img&gt;</code> with browser–selected src; which switches at medium-wide resolutions to ii) a background image and <img> element is hidden.</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="banner.html" data-pjax>
                <span>Banner</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-blockquote">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Blockquote</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="blockquote--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="blockquote--pullquote.html" data-pjax>
                <span>Pullquote</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-button">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Button</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--more.html" data-pjax>
                <span>More</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contact-prompt.html" data-pjax>
                <span>Contact Prompt</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="form.html" data-pjax>
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Homepage Hero</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="journal-index.html" data-pjax>
                <span>Journal Index</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-responsive-image">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Responsive Image</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="responsive-image--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="responsive-image--full.html" data-pjax>
                <span>Full</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="responsive-image--left.html" data-pjax>
                <span>Left</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="responsive-image--main.html" data-pjax>
                <span>Main</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="responsive-image--right.html" data-pjax>
                <span>Right</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="section-header.html" data-pjax>
                <span>Section Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="team-member-list.html" data-pjax>
                <span>Team Member List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="teaser-list.html" data-pjax>
                <span>Teaser List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-typography">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Typography</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--table.html" data-pjax>
                <span>Table</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--quoted.html" data-pjax>
                <span>Quoted</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--lists.html" data-pjax>
                <span>Lists</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography--small.html" data-pjax>
                <span>Small</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
