

<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Default | Greenhill Pattern Library</title>

<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

<script type="text/javascript">
    var MTUserId='1b677d22-39fd-44f6-8625-1806c06a6550';
    var MTFontIds = new Array();

    MTFontIds.push("1475508"); // Avenir® W01 45 Book
    MTFontIds.push("1475514"); // Avenir® W01 45 Book Oblique
    MTFontIds.push("1475532"); // Avenir® W01 65 Medium
    MTFontIds.push("1475538"); // Avenir® W01 65 Medium Oblique
    MTFontIds.push("1475556"); // Avenir® W01 95 Black
    MTFontIds.push("1475562"); // Avenir® W01 95 Black Oblique
    (function() {
        var mtTracking = document.createElement('script');
        mtTracking.type='text/javascript';
        mtTracking.async='true';
        mtTracking.src='/js/mtiFontTrackingCode.js';

        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtTracking);
    })();
</script>

<link rel="stylesheet" href="../../css/screen_v5.css">

<meta name="theme-color" content="#ffffff">

</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<main>

<p>A great experience, <a href="/">as I wrote yesterday</a>.</p>

</main>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main_v4.js"></script>

</body>
</html>

