

<figure class="banner">
	<picture>
		<source media="(min-width: 960px)"
				srcset="https://www.greenhilldigital.com/console/resources/ourstudiowide-w2200.jpg">
		<source media="(min-width: 768px)"
				srcset="https://www.greenhilldigital.com/console/resources/ourstudiomedium-w960.jpg, https://www.greenhilldigital.com/console/resources/ourstudiomedium-w1920.jpg 2x">
		<source media="(min-width: 375px)"
				srcset="https://www.greenhilldigital.com/console/resources/ourstudionarrow-w480.jpg, https://www.greenhilldigital.com/console/resources/ourstudionarrow-w960.jpg 2x">
		<img srcset="https://www.greenhilldigital.com/console/resources/ourstudionarrow-w320.jpg, https://www.greenhilldigital.com/console/resources/ourstudionarrow-w640.jpg 2x" 
	       	 alt="Team">
	</picture>
	<figcaption>Greenhill team assembled outside our Glasgow studio</figcaption>
</figure>

