

<div id="contact-prompt">
<div id="contact-prompt-inner">

<figure>
    <img src="https://www.greenhilldigital.com/console/resources/liamcentred-2-w400.jpg" alt="A photo of Liam Nugent, CEO">
    <figcaption>Talk to Liam</figcaption>
</figure>

<div id="contact-prompt-body">
    <h2>Let’s talk</h2>
    <p>Looking for a brand new app or website? Or want to improve your existing system?</p>
    <p>Let’s talk about it. Contact Liam on <a class="tel" href="tel:+441413327051">+44 (0)141 332 7051</a> or <a href="mailto:info@greenhilldigital.com">info@greenhilldigital.com</a> for a no-obligation chat and we'll take it from there.</p>
</div>

</div> <!-- / #contact-prompt-inner -->
</div>
