

<footer role="contentinfo">

<!-- <ul id="footer-internal-links">
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/careers/">Careers</a></li>
</ul> -->

<small class="legal copyright-notice">© 2014 - 2019 Greenhill</small>
<small class="legal">Registered in Scotland</small>
<small class="legal">Company Number SC475563</small>

<!-- <h3>Find us on:</h3> -->
<ul id="social-links">
    <li id="social-link-linkedin"><a href="https://www.linkedin.com/company/10542569/" rel="me">LinkedIn</a></li>
    <li id="social-link-instagram"><a href="https://www.instagram.com/greenhill01/" rel="me">Instagram</a></li>
    <li id="social-link-medium"><a href="https://medium.com/@greenhill01" rel="me">Medium</a></li>
</ul>

</footer>
