

<header role="banner">

    <div id="header-global">

        <div id="logo">
            <a href="https://www.greenhilldigital.com" title="Home"><span>Greenhill</span></a>
        </div>

        <ul id="header-contact-methods">
            <li><a id="header-tel" href="tel:+441413327051">Call +44 (0)141 332 7051</a></li>
            <li><a id="header-contact-us" href="mailto:info@greenhilldigital.com">Message us</a></li>
            <li><a id="header-visit-us" href="https://goo.gl/maps/beb15WjNWJP2">Visit us</a></li>
        </ul>

        <nav aria-label="site">
            <ul id="global-navigation">
                <li id="nav-services"><a href="/services/" title="What we do">Services</a></li>
                <li id="nav-portfolio"><a href="/portfolio/" title="A selection of our work">Portfolio</a></li>
                <li id="nav-about"><a href="/about/" title="Find out more about us">About</a></li>
                <li id="nav-journal" class="active"><a href="/journal/" title="Our latest opinion, thoughts and discoveries">Journal</a></li>
                <li id="nav-contact"><a href="/contact/" title="Contact us">Contact</a></li>
            </ul>
        </nav>

    </div>

</header>

