

<section class="teaser">
    <header>
    <h2 class="teaser-heading">Latest Journal Entries</h2>
    </header>
    
<ul class="teaser-list hfeed listing">
    <li class="hentry">
        <h3 class="teaser-item-heading"><a href="/journal/patterns" rel="bookmark" class="entry-title">Patterns</a></h3>
        <!--  -->
        <p class="byline">
            <span class="author-and-date">by <span class="p-author h-card">Laurence Hughes</span> <time class="dt-published" datetime="2019-01-20 09:10:00">20 January 2019</time></span> 
            <!-- <span class="byline-additional">
                
                    <a href="/journal/archive.php?cat=thinking" class="p-category">Thinking</a>
                
            </span> -->
        </p>
        <!-- <div class="description entry-summary"></div> -->
        <p>We’ve just created a Pattern Library for the Greenhill website to aid multi-developer collaboration.</p>
        <!-- <p>Comments: 0</p> -->
    </li>

    <li class="hentry">
        <h3 class="teaser-item-heading"><a href="/journal/introducing-oli" rel="bookmark" class="entry-title">Introducing Oli</a></h3>
        <!-- <img src="/console/resources/oligreenhillblogpost.jpg" alt="Introducing Oli" /> -->
        <p class="byline">
            <span class="author-and-date">by <span class="p-author h-card">Laurence Hughes</span> <time class="dt-published" datetime="2019-01-16 23:39:00">16 January 2019</time></span> 
            <!-- <span class="byline-additional">
                
                    <a href="/journal/archive.php?cat=news" class="p-category">News</a>
                
            </span> -->
        </p>
        <!-- <div class="description entry-summary"></div> -->
        <p>Meet our newest recruit, designer par excellence Olafur.</p>
        <!-- <p>Comments: 0</p> -->
    </li>

    <li class="hentry">
        <h3 class="teaser-item-heading"><a href="/journal/greenhill-goes-back-to-school" rel="bookmark" class="entry-title">Greenhill Goes Back to School</a></h3>
        <!-- <img src="/console/resources/bimadigitalday001.jpeg" alt="Greenhill Goes Back to School" /> -->
        <p class="byline">
            <span class="author-and-date">by <span class="p-author h-card">Krista Kleinberg</span> <time class="dt-published" datetime="2018-11-29 16:54:00">29 November 2018</time></span> 
            <!-- <span class="byline-additional">
                
                    <a href="/journal/archive.php?cat=news" class="p-category">News</a>
                
            </span> -->
        </p>
        <!-- <div class="description entry-summary"></div> -->
        <p>We took part in BIMA Digital Day 2018 to give some local schoolchildren an insight into working on apps and websites.</p>
        <!-- <p>Comments: 0</p> -->
    </li>

    </ul>
        
    <a class="btn btn-more btn-teaser-browse-all" href="/journal/">Browse all entries</a>

</section>
