

<p>Donec fermentum sapien id libero pulvinar, at ornare magna ultrices. In hac habitasse platea dictumst. Donec tincidunt nibh id massa dignissim consectetur. Nulla a tortor vehicula, imperdiet velit vel, elementum quam. Aliquam id leo quis odio molestie sodales. Sed eget luctus enim. Suspendisse id tristique risus. Nunc vitae eros erat.</p>
<figure class="gh-figure-highlight">
    <img srcset="/img/home-hero-medium-wide-769x433.jpg 769w, 
            /img/home-hero-medium-wide-960x540.jpg 960w, 
            /img/home-hero-widest-1100x619.jpg 1100w, 
            /img/home-hero-medium-wide-769@2x.jpg 1538w, 
            /img/home-hero-medium-wide-960@2x.jpg 1920w,  
            /img/home-hero-medium-wide-1100@2x.jpg 2200w" 
            sizes="100vw" 
            src="/img/home-hero-medium-wide-1100@2x.jpg" alt="cat">
    <figcaption>Noel Gallagher’s High Flying Birds</figcaption>
</figure>
<p>Sed eu sapien sed metus dapibus imperdiet sit amet non diam. Vivamus quis dolor eros. Donec ut libero ut nisi imperdiet hendrerit vitae at lacus. Nunc convallis molestie tortor eget ultricies.</p>
