

<section class="teaser">

<header>
<h2 class="teaser-heading">Handcrafted Cotton Salad</h2>
</header>
    
<ul class="teaser-list">

<li>
    <a class="wrapping-anchor teaser-group" href="/services/progressive-web-apps">
    
    <img srcset="https://picsum.photos/320/240?image&#x3D;940 320w,
              https://picsum.photos/480/360?image&#x3D;940 480w, 
              https://picsum.photos/640/480?image&#x3D;940 640w, 
              https://picsum.photos/752/564?image&#x3D;940 752w, 
              https://picsum.photos/960/720?image&#x3D;940 960w, 
              https://picsum.photos/1400/1050?image&#x3D;940 1400w" sizes="(max-width: 59.99em) 90vw, 
               (max-width: 105em) 17.5em,
               960px" src="https://picsum.photos/1600/1200?image&#x3D;940" alt="A Progressive Web App">
    
        <div class="teaser-text">
          <h3 class="teaser-item-heading">Intelligent Metal Computer</h3>
          <p>Aut quia dolores dolores dolores sunt distinctio et quod.</p>
        </div>
    </a>
</li>

<li>
    <a class="wrapping-anchor teaser-group" href="/services/progressive-web-apps">
    
    <img srcset="https://picsum.photos/320/240?image&#x3D;940 320w,
              https://picsum.photos/480/360?image&#x3D;940 480w, 
              https://picsum.photos/640/480?image&#x3D;940 640w, 
              https://picsum.photos/752/564?image&#x3D;940 752w, 
              https://picsum.photos/960/720?image&#x3D;940 960w, 
              https://picsum.photos/1400/1050?image&#x3D;940 1400w" sizes="(max-width: 59.99em) 90vw, 
               (max-width: 105em) 17.5em,
               960px" src="https://picsum.photos/1600/1200?image&#x3D;940" alt="A Progressive Web App">
    
        <div class="teaser-text">
          <h3 class="teaser-item-heading">Unbranded Cotton Chicken</h3>
          <p>Vitae totam et deleniti temporibus.</p>
        </div>
    </a>
</li>

<li>
    <a class="wrapping-anchor teaser-group" href="/services/progressive-web-apps">
    
    <img srcset="https://picsum.photos/320/240?image&#x3D;940 320w,
              https://picsum.photos/480/360?image&#x3D;940 480w, 
              https://picsum.photos/640/480?image&#x3D;940 640w, 
              https://picsum.photos/752/564?image&#x3D;940 752w, 
              https://picsum.photos/960/720?image&#x3D;940 960w, 
              https://picsum.photos/1400/1050?image&#x3D;940 1400w" sizes="(max-width: 59.99em) 90vw, 
               (max-width: 105em) 17.5em,
               960px" src="https://picsum.photos/1600/1200?image&#x3D;940" alt="A Progressive Web App">
    
        <div class="teaser-text">
          <h3 class="teaser-item-heading">Awesome Plastic Chips</h3>
          <p>Doloremque autem in.</p>
        </div>
    </a>
</li>


</ul>

<a class="btn btn-more" href="">Browse all services</a>
</section>

