

<h3>Unordered List</h3>
<ul>
    <li>First list item</li>
    <li>Second list item</li>
    <li>Third list item
        <ul>
            <li>inner item one</li>
            <li>inner item two</li>
            <li>inner item three</li>
        </ul>
    </li>
</ul>

<h3>Ordered List</h3>
<ol>
    <li>First list item</li>
    <li>Second list item</li>
</ol>

<h3>Definition List</h3>
<dl>
    <dt>Item One Definition Title</dt>
    <dd>Item One Definition Data</dd>
    <dt>Item Two Definition Title</dt>
    <dd>Item Two Definition Data</dd>
</dl>
